
<div class="row bg-light text-dark p-2">
  <div *ngIf="userSignedIn" class="col-sm-6">
    <h3> {{user.displayName}}</h3>
  </div>
  
  <div *ngIf="!userSignedIn" class="col-sm-6">
    <h3> </h3>
  </div>

  <div class="col-sm-6 text-right">
    <button *ngIf="userSignedIn; else signIn" class="btn btn-danger" (click)="covidService.signOut()">Sign Out</button>
    
    <ng-template #signIn>
      <button (click)="covidService.signInWithGoogle()" class="btn btn-info">Sign in </button>
    </ng-template>
  </div>
</div>