<div *ngIf="isUser" >
    <app-signin></app-signin>
</div>


<div class="text-center mt-5 ml-2">
        <h3>
            <img style="width: 2%;"src="https://firebasestorage.googleapis.com/v0/b/covidstats-eec61.appspot.com/o/covid_logo.png?alt=media&token=f2bfcd0a-edb3-43b1-9b9e-09e6655363ef" alt="Hello">
            COVID-19
        </h3>
        <h5 class="font-weight-bold text-secondary">Live Updates and Statistics</h5>

        <div style="width: 78%" class="container mb-2">
            <div  class="p-3 row align-items-center bg-light text-dark text-left font-weight-bold">Corona Virus Summary Worldwide</div>
        </div>  
        <div class="row justify-content-center mb-5">
            <table style="width: 76.5%;" class="table table-striped ">
      
                <tbody>
                    <tr class="table-warning">
                        <td class="text-left">Total Cases</td>
                        <td class="text-right">{{ global.TotalConfirmed | number}}</td>
                    </tr>
                    <tr class="table-warning">
                        <td class="text-left">New Cases</td>
                        <td class="text-right">{{ global.NewConfirmed | number }}</td>
                    </tr>
                    <tr class="table-warning">
                        <td class="text-left">Active Cases</td>
                        <td class="text-right">{{ global.TotalConfirmed - global.TotalDeaths - global.TotalRecovered | number }}</td>
                    </tr>
                    <tr class="table-primary">
                        <td class="text-left">Total Recovered</td>
                        <td class="text-right">{{ global.TotalRecovered  | number}}</td>
                    </tr>
                    <tr class="table-primary">
                        <td class="text-left">New Recovered</td>
                        <td class="text-right">{{ global.NewRecovered | number}}</td>
                    </tr>
                    <tr class="table-primary">
                        <td class="text-left">Recovery Rate</td>
                        <td class="text-right">{{ (global.TotalRecovered / global.TotalConfirmed)*100 | number:'2.0-2' }}%</td>
                    </tr>
                    <tr class="table-danger">
                        <td class="text-left">Total Deaths</td>
                        <td class="text-right">{{ global.TotalDeaths | number }}</td>
                    </tr>
                    <tr class="table-danger">
                        <td class="text-left">New Deaths</td>
                        <td class="text-right">{{ global.NewDeaths | number }}</td>
                    </tr>
                    <tr class="table-danger">
                        <td class="text-left">Mortality Rate</td>
                        <td class="text-right">{{ (global.TotalDeaths/ global.TotalConfirmed)*100 | number:'1.0-2' }}%</td>
                    </tr>
 
                </tbody>
            </table>
        </div>

    
        <div style="width: 78%" class="container mb-2">
            <div  class="p-3 row align-items-center bg-light text-dark text-left font-weight-bold">Corona Virus Cases Distribution Worldwide</div>
            <canvas class="wid" id="pieChart"></canvas>
        </div> 

        <div style="width: 78%" class="container mb-2 mt-5">
            <div  class="p-3 row align-items-center bg-light text-dark text-left font-weight-bold">Daily Corona Virus Cases Worldwide</div>
            <div>
                <div style="display: block">
                  <canvas baseChart
                        [datasets]="barChartData"
                        [labels]="barChartLabels"
                        [options]="barChartOptions"
                        [legend]="barChartLegend"
                        [chartType]="barChartType"></canvas>
                </div>  
              </div>

        </div> 

        <div style="width: 78%" class="container mb-2 mt-5">
            <div  class="p-3 row align-items-center bg-light text-dark text-left font-weight-bold">Total Corona Virus Cases Worldwide</div>
            <div style="width: 100%" class="flex-item">
                <div style="display: block;">
                <canvas baseChart width="700" height="400"
                            [datasets]="lineChartData"
                            [labels]="lineChartLabels"
                            [options]="lineChartOptions"
                            [colors]="lineChartColors"
                            [legend]="lineChartLegend"
                            [chartType]="lineChartType"
                            [plugins]="lineChartPlugins"></canvas>
                </div>
        </div> 

        <div class="container mb-2 mt-5">
            <div  class="p-3 row align-items-center bg-light text-dark text-left font-weight-bold">Corona Virus Cases By Country</div>
        </div>  
        
        <div class="row justify-content-center mb-5">
            <table style="width: 98%;"  class="table table-striped ">
                <thead>
                    <tr>
                        <th (click)="sort('Country')" class="bg-secondary text-white">Country &nbsp;<i class="fa fa-chevron-circle-down" style="font-size:24px"></i></th>
                        <th (click)="sort('NewConfirmed')" class="table-warning">New Cases</th>
                        <th (click)="sort('TotalConfirmed')" class="table-warning">Total Cases</th>
                        <th (click)="sort('NewRecovered')" class="table-primary">New Recoveries</th>
                        <th (click)="sort('TotalRecovered')" class="table-primary">Total Recoveries</th>
                        <th (click)="sort('NewDeaths')" class="table-danger">New Deaths</th>
                        <th (click)="sort('TotalDeaths')" class="table-danger">Total Deaths</th>
                        
                    </tr>
                </thead>
                <tbody *ngFor='let country of countriesSummary | orderBy: key: reverse'>
                    <tr>
                        <td class="bg-secondary text-white text-left"> <a style="color: white;" routerLink="/{{country.Slug}}">{{country.Country}}</a> </td>
                        <td class="table-warning text-right">{{country.NewConfirmed | number}}</td>
                        <td class="table-warning text-right">{{country.TotalConfirmed | number}}</td>
                        <td class="table-primary text-right">{{country.NewRecovered | number}}</td>
                        <td class="table-primary text-right">{{country.TotalRecovered | number}}</td>
                        <td class="table-danger text-right">{{country.NewDeaths | number }}</td>
                        <td class="table-danger text-right">{{country.TotalDeaths | number}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
            
        
</div>



<footer>
    <div  class="p-3 bg-light text-center container mb-2">
        Data Source:  <a href="https://covid19api.com"> COVID-19 API / Johns Hopkins CSSE</a>
    </div> 
</footer>


